<p>
  lang-switcher works!
</p>
<select  [(ngModel)]="currentVal" (change)="onChange(switcher.value)" #switcher>
  <option *ngFor="let lang of languageList" [value]="lang">{{lang}}</option>
</select>
